.location-info-card {
  width: 90%;
}

.location-info-content {
  padding: 40px !important;
  max-height: 60vh;
  overflow-y: auto;
}

.location-info-title {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 28px !important;
  margin-bottom: 0 !important;
}

.location-info-table {
  width: 100%;
  border-collapse: collapse;
}

.location-info-key-td {
  background: #1976d2;
  color: #fff;
  text-align: center;
  font-weight: bold;
  width: 180px;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.location-info-value-td {
  background: rgb(233, 233, 233);
  vertical-align: middle;
  padding: 0.9rem 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  max-width: 600px;
}
