.location-info-card {
  width: 90%;
}

.location-info-content {
  padding: 40px !important;
}

.location-info-title {
  text-align: center;
  font-size: 28px !important;
  font-weight: bold !important;
  padding-bottom: 20px !important;
}

.location-info-row {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.location-info-key {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.location-info-key,
.location-info-value {
  font-size: 18x !important;
  text-align: left;
}
